---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Cooper"
	description="a story about me"
	pubDate={new Date('April 16 2025')}
	heroImage="/about-cooper.jpg"
>
	<p>
		My name is Jack Cooper. I used to be just a rifleman in the Frontier Militia—one of many fighting against the IMC’s stranglehold on the Frontier. I never expected to become a Pilot. Hell, I wasn’t even close to finishing training. But war doesn’t wait for you to be ready.
	</p>

	<p>
		<b>Everything changed on Typhon.</b>
	</p>

	<p>
		Captain Tai Lastimosa—my mentor and one of the finest Pilots I’ve ever known—took me under his wing, secretly training me in the ways of Pilots. When he was killed in action, he passed his Titan, BT-7274, to me. One moment I was a grunt with a dream. The next, I was in charge of a Vanguard-class Titan, knee-deep in a mission that could decide the fate of the entire Frontier.
	</p>

	<p>
		BT and I—we weren’t supposed to work. I was untested. He was damaged. But together, we adapted. We learned to trust each other. And in the middle of a war, that bond meant everything.
	</p>

	<p>
		I’m not the fastest, or the strongest. But I don’t back down. I think on my feet, move like hell, and fight for what I believe in. I didn’t choose this path—but I’ll walk it all the same. For BT. For the Militia. For the Frontier.
	</p>
</Layout>
