---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<div style="max-width: 600px; margin: 50px auto; color: #333; text-align: center; line-height: 1.6;">
				<h1 style="font-size: 2.5rem; margin-bottom: 10px;">Howdy! :)</h1>
				<h3 style="font-size: 1.5rem; font-weight: normal; margin-bottom: 5px;">I'm Jack.Cooper</h3>
				<h4 style="font-size: 1rem; color: #666; font-weight: normal; margin-bottom: 20px;">&#x1f1f3;(Junbo Le/乐俊波)</h4>
				<p style="font-size: 1rem; padding: 0 10px; margin-bottom: 30px;">
				  Welcome to my personal log. I'm a website rookie developer, I will share some of my thoughts and experiences, also some of my <a href="https://github.com/skywalker23241/Optimize_post_ai" target="_blank">pojects</a> and other interesting things. Hope you like!
				</p>
				<img src="index.jpg" alt="Ready player one" style="max-width: 100%; height: auto; border-radius: 12px; box-shadow: 0 4px 12px rgba(0,0,0,0.1);" />
			  </div>
			  
		</main>
		<Footer />
	</body>
</html>
