---
// Redirect to the new markdown-based tools page
---

<script>
  // Client-side redirect
  window.location.href = '/blog/cooper-s-tools/';
</script>

<noscript>
  <meta http-equiv="refresh" content="0; url=/blog/cooper-s-tools/">
</noscript>

<p>Redirecting to <a href="/blog/cooper-s-tools/">Cooper's Tools</a>...</p>
